@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body#existingrecordBody {
    background: url(images/3.jpg) no-repeat center center fixed;
    background-size: cover;	
    font-family: 'Exo 2', sans-serif;
    background-color: #f2f2f2;
    animation:fadeIn 0.5s;
}

nav {
    text-align: right;
    background: #fff;
    border-radius: 50px;
    height: 80px;
    padding: 0.1%;
    box-shadow: 0 25px 10px -20px rgba(0,0,0,0.4);
    animation:slideInDown 0.5s;
}

nav img {
    float: left;
    display: inline-block;
    height: 70px;
    margin-top: -11px;
  }  

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after {
    content: '';
    background-color: #0073ff;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;

}

nav ul li:hover {
    color: #fff;
}

nav ul li:hover::after {
    top: 50%;
    opacity: 1;
}

div.container {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: fadein 0.5s;
  }
  
  div.existingrecordHeader {
    background-color: #24292e;
    color: #0073ff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  div.existingrecordHeader h1 {
    font-size: 36px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }
  
  div.existingrecordHeader h3 {
    font-size: 18px;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  
  div.existingrecordBody {
    padding: 20px;
    animation: slideup 0.5s;
  }
  
  div.existingrecordBody div {
    margin-bottom: 10px;
  }
  
  div.existingrecordBody label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  
  div.existingrecordBody input[type="text"],
  div.existingrecordBody input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: none;
    background-color: #e9e9e9;
    transition: all 0.3s ease;
  }
  
  div.existingrecordBody button {
    width: 100%;
    padding: 10px;
    background-color: #0073ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  div.existingrecordBody button:hover {
    background-color: #000;
  }
  
  @keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

select {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    color: #333;
    padding: 10px;
    margin: 10px auto;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:hover, select:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

select option {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  color: #333;
  padding: 10px;
}
