@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body#homeBody {
    background: url(images/3.jpg) no-repeat center center fixed;
    background-size: cover;	
    font-family: 'Exo 2', sans-serif;
    background-color: #f2f2f2;
}

div.homeHeader {
    background-color: #24292e;
    color: #0073ff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    animation: fadein 0.5s;
}
  
div.homeHeader h1 {
    font-size: 36px;
    margin-bottom: 10px;
    position: relative;
    animation: slideInDown 0.5s ease;
}

div.homeHeader h3 {
    font-size: 18px;
    color: #ffffff;
    position: relative;
    animation: slideInUp 0.5s ease;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px;
    flex-basis: calc(20% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin:30px;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.card h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    margin-bottom: 20px;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card a:hover {
    background-color: #000;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }