@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body#homeBody {
    background: url(images/3.jpg) no-repeat center center fixed;
    background-size: cover;	
    font-family: 'Exo 2', sans-serif;
    background-color: #f2f2f2;
}

nav#homeHeader{
    text-align: center;
    background: #fff;
    border-radius: 50px;
    height: 80px;
    padding: 0.1%;
    box-shadow: 0 25px 10px -20px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    animation:slideInDown 0.5s;
}

nav#homeHeader img{
    float: left;
    display: inline-block;
    height: 70px;
    margin-top: 0px;
}

nav h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}

nav {
    text-align: right;
    background: #fff;
    border-radius: 50px;
    height: 80px;
    padding: 0.1%;
    box-shadow: 0 25px 10px -20px rgba(0,0,0,0.4);
}

nav img {
    float: left;
    display: inline-block;
    height: 70px;
    margin-top: -11px;
  }  

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after {
    content: '';
    background-color: #0073ff;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;

}

nav ul li:hover {
    color: #fff;
}

nav ul li:hover::after {
    top: 50%;
    opacity: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation:fadeIn 0.5s;
}

.card {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px;
    flex-basis: calc(20% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin:30px;
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.card h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    margin-bottom: 20px;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffb300;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card a:hover {
    background-color: #000;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }