@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body#recordBody {
    background: url(images/3.jpg) no-repeat center center fixed;
    background-size: cover;	
    font-family: 'Exo 2', sans-serif;
    background-color: #f2f2f2;
}

nav {
    text-align: right;
    background: #fff;
    border-radius: 50px;
    height: 80px;
    padding: 0.1%;
    box-shadow: 0 25px 10px -20px rgba(0,0,0,0.4);
    animation:slideInDown 0.5s;
}

nav img {
    float: left;
    display: inline-block;
    height: 70px;
    margin-top: -11px;
  }  

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after {
    content: '';
    background-color: #0073ff;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;

}

nav ul li:hover {
    color: #fff;
}

nav ul li:hover::after {
    top: 50%;
    opacity: 1;
}

/* Set style for the table */
table {
    margin: 50px auto 0;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    animation:fadeIn 0.5s;
}

/* Set style for the table header */
th {
    text-align: left;
    font-size: 1.2em;
    color: #fff;
    background-color: #0073ff;
    padding: 1rem;
}

/* Set style for the table rows */
tr {
    border-bottom: 1px solid #ddd;
}

/* Set style for the table data */
td {
    font-size: 1.1em;
    color: #2d2d2d;
    padding: 1rem;
}

/* Set style for links */
a {
    color: #fff;
    background-color: #0073ff;
    padding: 0.3rem;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #fff;
    background-color: #000;
    padding: 0.8rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

tr {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

th {
    animation-name: slideIn;
    animation-duration: 0.5s;
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }